<% messages.each_slice(3) do |messages_group| %>
	<div class="row">
		<% messages_group.each do |message| %>
            <div class="col-sm-6 col-md-4">
      		    <%= render partial: 'messages/thumb_message', locals: {message: message} %>
            </div>
      	<% end %>
    </div>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate messages %>
</div>