<% messages.each_slice(3) do |messages_group| %>
	<div class="row">
		<% messages_group.each do |message| %>
      		<%= render partial: 'thumb_message', locals: {message: message} %>
      	<% end %>
    </div>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate messages %>
</div>