
<div class="row">
  <div class="col-md-12">
    <%= link_to messages_path do %>
      <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left"></span> Ver todos</button>
    <% end %>
  </div>
</div>

<% if notice != nil %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<%= render partial: 'message', object: @message %>

<%= link_to 'Edit', edit_message_path(@message) %> |
