<div class="panel panel-default guest-messages">
	<div class="panel-heading">
		<i class="glyphicon glyphicon-comment"></i> Mensajes
	</div>
	<div class="panel-body">
		<% messages = guest.messages.order('id DESC').limit(3)
		if messages.size > 0
			messages.each do |message| %>
				<div class="panel panel-default guest-message">
					<div class="panel-heading">
						<%= timeago_tag message.created_at, :limit => 10.days.ago, :lang => :es %>
					</div>
					<div class="panel-body video-container">
						<%= message.message_html %>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="panel-body">
				Este usuario todavía no ha publicado mensajes.
			</div>
		<% end %>
	</div>
	<% if messages.size == 3 %>
		<div class="panel-footer">
			<%= link_to messages_path, class: "btn btn-default" do %>
				<i class="glyphicon glyphicon-plus"></i>
			<% end %>
		</div>
	<% end %>
</div>