

    <% guests.each do |guest| %>
    	<div class="col-md-3">
			<%= render partial: 'guest', object: guest %>    		
    	</div>
    <% end %>

<div id="infinite-scrolling">
    <%= will_paginate guests %>
</div>