

    <% guests.each do |guest| %>
    	<div class="col-md-3">
			<%= render partial: 'guest', object: guest %>    		
    	</div>
    <% end %>

<tr id="infinite-scrolling">
  <td>
    <%= will_paginate guests %>
  </td>
</tr>