<% content_for :javascript_includes do %>
  <%= javascript_include_tag "infinite_scroll" %>
<% end %>

<div class="page-header row">
  <h1 class="pull-left">Lista de invitados</h1>
  <% if can? :create, Attendee %>
    <%= link_to new_guest_path, class: "pull-right" do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo invitado</button>
    <% end %>
  <% end %>
</div>

<div class="row">
  <%= render partial: 'guests', object: @guests %>  
</div>


<div id="spinner" class="row">
    <%= image_tag "spinner.gif", class: "center-block" %>
</div>


<br>
