<div class="panel panel-default new-post">
    <div class="panel-heading title">
        Tus notificaciones
    </div>

    <div class="panel-body">
        <p>No tienes nuevas notificaciones</p>
    </div>
    <div class="panel-footer share-buttons text-right">
        <%= link_to "Ver todas", notifications_path, class: "btn btn-xs" %>
    </div>

</div>