<div class="row like-buttons">
    <% disabled = current_attendee.voted_for?(resource) ? "disabled" : nil %>
    <div class="col-md-6 col-xs-6 like-btn-container">
    <%= link_to url_for([:downvote, resource]), method: :post, class: "btn btn-default",
        role: "button", disabled: disabled do %>
        <span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;<span class="hidden-xs">No me gusta</span>&nbsp;<span class="badge"><%= resource.cached_votes_down %></span>
    <% end %>
    </div>

    <div class="col-md-6 col-xs-6 like-btn-container">
    <%= link_to url_for([:upvote, resource]), method: :post, class: "btn btn-primary",
        role: "button", disabled: disabled do %>
        <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="hidden-xs">Me gusta</span>&nbsp;<span class="badge"><%= resource.cached_votes_up %></span>
    <% end %>
    </div>
</div>