
<div class="page-header">
  <h1>Planing</h1>
</div>

<% if can? :create, Event %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to new_event_path, class: "pull-left" do %>
          <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Crear Evento</button>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <%= render partial: 'events', object: @events %>
</div>