    <% resources.each_slice(2) do |resources_group| %>
            <% resources_group.each do |resource| %>
                <div class="col-sm-6 col-md-6">
                    <% if resource.trackable.is_a? Message %>
                            <%= render partial: 'messages/thumb_message', locals: {message: resource.trackable} %>
                    <% else %>
                            <%= render partial: 'pictures/picture', object: resource.trackable %>
                    <% end %>
                </div>
            <% end %>
    <% end %>

    <div id="infinite-scrolling">
      <%= will_paginate resources %>
    </div>