
      <div class="page-header">
        <h1>Planing</h1>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://imagenes.forociudad.com/fotos/25944-ordes-iglesia-de-sta-maria-de-ordes.jpg" alt="Iglesia de Ordes">
            <div class="caption">
              <h3>Ceremonia</h3>
              <p>Todos sentados que entra la novia (el novio esperando desde las 16:00 vermouth en mano...)</p>
              <p><small><strong>¿Cuándo?</strong> 17:00, 2 de Agosto de 2014</small></p>
              <p><small><strong>¿Dónde?</strong> Iglesia Santa María de Ordes</small></p>
            </div>
          </div>
        </div>

        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://www.buscorestaurantes.com/files/images/Pazo-Orto-2014.jpg" alt="Pazo de Orto">
            <div class="caption">
              <h3>Aperitivos</h3>
              <p>Vamos a disfrutar posiblemente de los mejores aperitivos del mundo en un entorno para nada despreciable. Sinceramente, no nos lo merecemos.</p>
              <p><small><strong>¿Cuándo?</strong> 19:00, 2 de Agosto de 2014</small></p>
              <p><small><strong>¿Dónde?</strong> Pazo de Orto, Cecebre</small></p>
            </div>
          </div>
        </div>

        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://lh6.googleusercontent.com/-HV_9_QVn55o/UEnGQP58f6I/AAAAAAAAACg/flJAqd1Zsvk/w800-h800/pazo%2Bde%2Borto.jpg" alt="Salon Pazo de Orto">
            <div class="caption">
              <h3>Cena</h3>
              <p>Adem&aacute;s de cenar como aut&eacute;nticos se&ntilde;ores, vamos a tener un fiest&oacute;n espectacular y alguna que otra sorpresilla...</p>
              <p><small><strong>¿Cuándo?</strong> 21:00, 2 de Agosto de 2014</small></p>
              <p><small><strong>¿Dónde?</strong> Pazo de Orto, Cecebre</small></p>
            </div>
          </div>
        </div>

    </div>
