<% content_for :javascript_includes do %>
  <%= javascript_include_tag "infinite_scroll" %>
<% end %>


<div class="home-cover">
      <div class="wrapper">
          <div class="image">
              <img src="images/wed.jpg" alt="people">
          </div>
      </div>
      <div class="cover-info">
          <nav class="navbar navbar-default">
            <div class="text-center">
                <ul class="nav navbar-nav">
                  <li class="col-md-4 col-xs-4"><a href="#">
                    <span class="glyphicon glyphicon-camera"></span>&nbsp;<span class="hidden-xs">Sube una foto</span>&nbsp;
                  </a></li>
                  <li class="col-md-4 col-xs-4"><a href="#">
                    <span class="glyphicon glyphicon-music"></span>&nbsp;<span class="hidden-xs">Sugiere una canción</span>&nbsp;
                  </a></li>
                  <li class="col-md-4 col-xs-4"><a href="#">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="hidden-xs">Invita a bailar</span>&nbsp;
                  </a></li>
                </ul>
            </div>
          </nav>
      </div>
  </div>

<div class="row container-fluid home-main">
    <div class="col-md-offset-3 col-md-9">        
      <h2 class="text-center">¿Qué hacen los novios?</h2>
    </div>
    <div class="col-md-3 home-col">
        <%= render partial: 'messages/new_thumb', locals: {message: @message} %>    
    </div>
    <div class="col-md-9 container-fluid home-col last-activity">
        <%= render partial: 'last_activity', locals: {resources: @resources} %>    
    </div>
</div>


<div id="spinner" class="row">
    <%= image_tag "spinner.gif", class: "center-block" %>
</div>
