<h1>Pages#home</h1>

<% @resources.each do |resource| 
    if resource.is_a? Message %>
        <%= render partial: 'messages/message', object: resource %>
    <% else %>
        <%= render partial: 'pictures/picture', object: resource %>
    <% end %>
<% end %>