<% content_for :javascript_includes do %>
  <%= javascript_include_tag "infinite_scroll" %>
<% end %>

<div class="page-header">
	<h1>Los novios</h1>
</div>

  <div class="alert alert-warning">
    <strong>¡Bienvenid@!</strong> Aquí verás siempre lo último que están haciendo los novios. El resto de opciones, en el menú superior.
  </div>

<div class="row container">
<%= render partial: 'last_activity', locals: {resources: @resources} %>
</div>


<div id="spinner" class="row">
    <%= image_tag "spinner.gif", class: "center-block" %>
</div>
