<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Faceboda.net</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    "landing", media: "all" %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <span class="faceboda-logo">face<span>boda</span>.net</span>
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li><a href="#features">Características</a></li>
                <li><a href="#price">Precio</a></li>
                <li><a href="#contact">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    

    <header id="top" class="header">
        <div class="carousel-caption">
          <h1>Tu día, tu Red Social</h1>
          <p>¿Por qué querrías un sitio web corriente para tu día más especial? Comparte fotos, interactúa con tus invitados, haz de tu boda el evento más esperado.</p>
        </div>
    </header>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

    <section id="features">
      <!-- Three columns of text below the carousel -->
      <div class="row text-center">
        <div class="col-lg-12 description">
            <h2>Crea una Red Social para tu boda</h2>
            <p class="lead">
              Porque una web normal no es lo suficientemente especial para tu gran día, crea tu propia Red Social restringida sólo para tus invitados. No sólo muestres información, <strong>interactúa</strong> con los que más quieres.
            </p>
        </div>
        <div class="col-lg-3">
          <div class="row icons">
            <span class="fa fa-camera-retro"></span>
          </div>
          <div class="row">
            <div class="col-lg-12">

            <h2>Comparte todas las fotos</h2>
            <p>
              Cientos de momentos de antes, durante y después del evento son capturados y perdidos en el smartphone de cada uno de los invitados. En tu red social tendrás <strong>un punto central para compartir todas las fotos</strong> cómodamente desde un ordenador, móvil o tablet.
            </p>
            <p><a class="btn btn-default" href="#photos-feat" role="button">Ver detalles » </a></p>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <div class="row icons">
            <span class="fa fa-gift"></span>
          </div>
          <div class="row">
            <div class="col-lg-12">

            <h2>El regalo perfecto para tus invitados</h2>
            <p>
              Haz que deseen aún más que llegue el día del evento. En tu red social, los invitados podrán interactuar, <strong>ver el perfil de los demás usuarios</strong>, <strong>publicar mensajes, fotos y vídeos</strong>, <strong>proponer y votar canciones</strong>... y mucho más. Estarán involucrados desde los momentos previos hasta los posteriores del gran día.
            </p>
            </div>
          </div>
          <div class="row">
            <p><a class="btn btn-default" href="#gift-feat" role="button">Ver detalles »</a></p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <div class="row icons">
            <span class="fa fa-info-circle"></span>
          </div>
          <div class="row">
            <div class="col-lg-12">
            <h2>Toda la información del evento</h2>
            <p>
              Preguntas como dónde o cuando es la cerermonia o el banquete, el horario de salida del transporte proporcionado, etc., no serán necesarias, ya que podrás <strong>publicar la información de todos los eventos del día</strong>. Además, podrás <strong>localizarlos en un mapa</strong> interactivo <strong>integrado con Google Maps</strong>.
            </p>
            <p><a class="btn btn-default" href="#info-feat" role="button">Ver detalles »</a></p>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <div class="row icons">
            <span class="fa fa-desktop"></span>
            <span class="fa fa-tablet"></span>
            <span class="fa fa-mobile"></span>
          </div>
          <div class="row">
            <div class="col-lg-12">
            <h2>Para todas las plataformas</h2>
            <p>
              Tu red social estará <strong>adaptada para todo tipo de dispositivos</strong>, como ordenadores personales, smartphones o tablets. La interfaz de usuario se comportará como una <strong>web normal en dispositivos grandes</strong> y como una <strong>APP en móviles</strong> pero, al estar basado en estándares web, no necesitarás instalar nada.
            </p>
            <p><a class="btn btn-default" href="#crossplatform-feat" role="button">Ver detalles »</a></p>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette" id="photos-feat">
        <div class="col-md-7">
          <h2 class="featurette-heading">Todas las fotos. <span class="text-muted">No pierdas ningún momento.</span></h2>
          <p class="lead">
            Hoy en día todo el mundo captura imágenes con sus smartphones, pero, en este tipo de eventos, se quedan en el olvido. Deja que tus invitados muestren cómo lo están viviendo y las suban a tu Red Social. Si así lo deseas, podrás conectar cualquier dispositivo a un proyector, y se irán mostrando todas las capturas enviadas.
            Cuando pase el gran evento, te enviaremos un archivo con todas las fotografías.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/wed3.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="gift-feat">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/wed5.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">El mejor regalo para tus invitados. <span class="text-muted">Una experiencia diferente.</span></h2>
          <p class="lead">
            Los obsequios entregados en las bodas suelen quedar olvidados en el fondo de un cajón. Regálale una nueva experiencia a tus invitados. Mantenlos informados de lo que está pasando en los meses previos, deja que interactúen, que propongan canciones, que envíen vídeos... y mucho más. Pasarán a ser parte activa de tu boda mucho antes de la fecha señalada.
            Porque tu boda dura mucho más que un sólo día.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="info-feat">
        <div class="col-md-7">
          <h2 class="featurette-heading">Toda la información. <span class="text-muted">Que nadie se pierda.</span></h2>
          <p class="lead">
            Ya sea la ceremonia, el banquete, o cualquier otro tipo de evento de tu boda, podrás publicar dónde y cuándo es, así como una descripción del mismo. Podrás mostrar la localización en un mapa interactivo que, si se accede con un smartphone, estará integrado con la aplicación de Google Maps. Cualquiera podrá obtener indicaciones de cómo llegar desde el punto en el que se encuentre.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/mapa-Faceboda.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="crossplatform-feat">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/handphonewed.png">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Para todas las plataformas. <span class="text-muted">Accede desde cualquier sitio.</span></h2>
          <p class="lead">
            Accede a tu Red Social desde un ordenador personal, una tablet o un smartphone y la apariencia se adaptará al tipo de dispositivo que estés usando. Desde un teléfono móvil, se comportará como una APP, pero sin necesidad de instalar nada.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      </section>
      <!-- /END THE FEATURETTES -->

      <section id="price">
      <div class="row pricing-table">
        <div class="col-md-6">
        <div class="panel panel-default">
           <div class="panel-heading"><h3 class="text-center">MINI PACK</h3></div>
               <div class="panel-body text-center">
              <h3><del>&nbsp;399€&nbsp;</del></h3>
              <h2><strong>Oferta de lanzamiento</strong></h2>
              <h1><strong>199€</strong></h1>
          </div>
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Red Social privada para tu boda</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Alojamiento hasta 6 meses después de la boda</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Entrega de todas las fotos en un archivo</li>
                  </ul>
          <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-danger" href="#contact">COMPRAR</a>
        </div>
       </div>

        </div>
         <div class="col-md-6">
        <div class="panel panel-default">
           <div class="panel-heading"><h3 class="text-center">MAXI PACK</h3></div>
               <div class="panel-body text-center">
              <h3><del>&nbsp;549€&nbsp;</del></h3>
              <h2><strong>Oferta de lanzamiento</strong></h2>
              <h1><strong>399€</strong></h1>
          </div>
                             <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>MINI PACK</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Dominio y diseño personalizados</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Invitaciones virtuales</li>
                  </ul>
          <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-danger" href="#contact">COMPRAR</a>
        </div>
       </div>

        </div>
      </div>
      </section>

    </div><!-- /.container -->

      <section id="contact" class="callout text-center container">
        <div>
          <h1>¿Quieres más información?</h1>
          <p class="lead">Rellena este formulario con tu correo electrónico y/o teléfono y nos pondremos en contacto contigo</p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 text-center">
            <form role="form">
              <div class="form-group">¡
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Teléfono">
              </div>
              <button type="submit" class="btn btn-default">Enviar</button>
            </form>
          </div>
        </div>
      </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <%= javascript_include_tag "landing" %>
    <script>

      // Scrolls to the selected menu item on the page
      $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                  if (target.length) {
                      $('html,body').animate({
                          scrollTop: target.offset().top -10
                      }, 1000);
                      // return false;
                  }
              }
          });
      });
    </script>
</body>
</html>