<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Solicitud de información de Faceboda</h1>
    <p>
      Email: <%= @email %>
    </p>
    <p>
      Teléfono: <%= @phone %>
    </p>
  </body>
</html>