<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Solicitud de compra de Faceboda</h1>

    <% @details.each do |k, v| %>
      <p>
        <%= k %>: <%= v %>
      </p>
    <% end %>
  </body>
</html>