<h1>Listing tables</h1>

<div class="panel-group" id="accordion">

<% @tables.each do |table| %>
  <%= render partial: 'table', object: table %>
<% end %>

</div>

<br>

<%= link_to 'New Table', new_table_path %>
