<% pictures.each_slice(3) do |pictures_group| %>
	<div class="row">
		<% pictures_group.each do |picture| %>
            <div class="col-sm-6 col-md-4">
      		    <%= render partial: 'pictures/picture', locals: {picture: picture} %>
            </div>
      	<% end %>
	</div>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate pictures %>
</div>