<% pictures.each_slice(3) do |pictures_group| %>
	<div class="row">
		<% pictures_group.each do |picture| %>
      		<%= render partial: 'picture', locals: {picture: picture} %>
      	<% end %>
	</div>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate pictures %>
</div>