
<div class="row">
  <div class="col-md-12">
    <%= link_to pictures_path do %>
      <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left"></span> Ver todas</button>
    <% end %>
  </div>
</div>

<%= render partial: 'picture', object: @picture %>