
<div class="row">
  <div class="col-md-12">
    <%= link_to weddings_path do %>
      <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left"></span> Ver todas</button>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |